html,
body {
    height: 100%;
    width: 100%;
}

.navbar {
    background-color: black;
    padding: 1% 0;
    font-size: 1.2m;
}

.navbar-brand {
    min-height: 55px;
    padding: 0 5px 5px;
}

.navbar-default .navbar-nav li a {
    color: #D5D5D5;
}

.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:active {
    color: #FFF;
}

#home {
    background: url(images/background.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    background-size: cover;
}

.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.landing-text h1 {
    font-size: 500%;
    font-weight: 700;
    color: goldenrod;
}

.landing-text h3 {
    color: goldenrod;
}

.padding {
    padding: 80px 0;
}

.padding img {
    width: 100%;
}

#fixed {
    background: url(images/background.jpg) no-repeat center center fixed;
    display: table;
    height: 60%;
    width: 100%;
    position: relative;
    background-size: cover;
}

#fixed2 {
    background: url(images/background.jpg) no-repeat center center fixed;
    display: table;
    height: 15%;
    width: 100%;
    position: relative;
    background-size: cover;
}

footer {
    width: 100%;
    background-color: black;
    padding: 5% 5% 10% 5%;
    color: white;
}

.fa {
    padding: 15px;
    font-size: 25px;
    color: #FFF;
}

.fa:hover {
    color: #D5D5D5;
    text-decoration: none;
}

.icon {
    max-width: 200px;
}

@media (max-width: 768px) {
    .landing-text h1 {
        font-size: 300%;
    }
    .fa {
        font-size: 20px;
        padding: 10px;
    }
    .icon {
        padding-top: 5%;
        max-width: 100px;
    }
}